USE [master]
GO
/****** Object:  Database [PIZZAABD]    Script Date: 24.03.2023 13:26:57 ******/
CREATE DATABASE [PIZZAABD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PIZZAABD', FILENAME = N'C:\Users\311-8(student)\PIZZAABD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PIZZAABD_log', FILENAME = N'C:\Users\311-8(student)\PIZZAABD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PIZZAABD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PIZZAABD]
GO
USE [PIZZAABD]
GO
/****** Object:  Table [dbo].[Clients]    Script Date: 24.03.2023 13:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Clients](
	[idClients] [int] NULL,
	[name_clients] [nvarchar](50) NULL,
	[password_clients] [int] NULL,
	[status_clients] [int] NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[status_clients] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 24.03.2023 13:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[idProducts] [int] NOT NULL,
	[Discription] [nvarchar](50) NULL,
	[name_products] [nvarchar](50) NULL,
	[Price] [nvarchar](50) NULL,
	[TypeIdFk] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[idProducts] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 24.03.2023 13:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[idStatus] [int] NULL,
	[status_clients] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Type]    Script Date: 24.03.2023 13:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Type](
	[idType] [int] NOT NULL,
	[Type] [nvarchar](50) NULL,
 CONSTRAINT [PK_Type] PRIMARY KEY CLUSTERED 
(
	[idType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Сomposition]    Script Date: 24.03.2023 13:26:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Сomposition](
	[idComposition] [int] NULL,
	[name_composition] [nvarchar](50) NULL,
	[price_composition] [nvarchar](50) NULL,
	[Number] [int] NULL,
	[ProductId] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_Type] FOREIGN KEY([TypeIdFk])
REFERENCES [dbo].[Type] ([idType])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_Type]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_Status_Clients] FOREIGN KEY([status_clients])
REFERENCES [dbo].[Clients] ([status_clients])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_Status_Clients]
GO
ALTER TABLE [dbo].[Сomposition]  WITH CHECK ADD  CONSTRAINT [FK_Сomposition_Products] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Products] ([idProducts])
GO
ALTER TABLE [dbo].[Сomposition] CHECK CONSTRAINT [FK_Сomposition_Products]
GO
USE [master]
GO
